.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav-tabs li a {
    /*navbar item colour - mobile*/
    color: #f72f2f;
}
.navbar {
    margin-bottom: 0;
    /*navbar colour*/
    background-color: #201e1d;
    border: 0;
    font-size: 20px !important;
    opacity: 0.8;
}
.navbar li a,
.navbar .navbar-brand {
    /*Navbar items colour*/
    color: white !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.navbar-nav li a:hover {
    /*Navbar items hover colour*/
    color: skyblue;
}
.container {
    padding-top: 80px;
    padding-bottom: 120px;
    min-height: 100%;
}
.ptitle {
    text-align: center;
}
.parts {
    color: #5e5c5b;
    text-align: center;
}
img {
    margin: 0 auto;
}
footer {
    background-color: #434140;
    text-align: right;
    color: white;
    height: 50px;
    margin-top: -50px;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*content text colour*/
    color: #5e5c5b;
    background-color: white;
}
.redbox {
    background-color: #c97979;
    color: white;
    border-radius: 25px;
    /*border: 2px solid #f72f2f;*/
    padding: 20px;
}
.greenbox {
    background-color: #6fcf96;
    color: white;
    border-radius: 25px;
    /*border: 2px solid #37dd7b;*/
    padding: 20px;
}
.graybox {
    background-color: #b4b4b3;
    color: white;
    border-radius: 25px;
    /*border: 2px solid #5e5c5b;*/
    padding: 20px;
}
.bluebox {
    background-color: #8db8e4;
    color: white;
    border-radius: 25px;
    /*border: 2px solid #2f92f7;*/
    padding: 20px;
}
.assembly-header {
    text-align: center;
    width: 100%;
}
.assembly-td {
    text-align: center;
    width: 50%;
}
.partdetail {
    padding-top: 50px;
}
.partimg {
    border-radius: 25px;
    border: 2px solid #ff4f4f;
    padding: 20px;
}
.titlediv {
    
    padding: 20px;
    padding-top: 10%;
    padding-left: 40%;
    background-color: #ff4f4f;
    color: white;
}
.sectitle {
    border-radius: 25px;
    background-color: #ff4f4f;
    color: white;
    text-align: center;
}
.toptitle {
    border-radius: 25px;
    padding: 0;
    padding-top: 0;
}

.homedashvalue {
    text-align: center;
}
