.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav-tabs li a {
    /*navbar item colour - mobile*/
    color: #f72f2f;
}
.navbar {
    margin-bottom: 0;
    /*navbar colour #201e1d*/
    background-color: #201e1d;
    border: 0;
    opacity: 0.9;
}
.navbar li a,
.navbar .navbar-brand {
    /*Navbar items colour*/
    color: white !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    font-size: 18px;
}
.navbar-nav li a:hover {
    /*Navbar items hover colour*/
    color: black;
}
.container {
    padding-top: 10px;
    padding-bottom: 120px;
    min-height: 100%;
}
.ptitle {
    text-align: center;
}
.parts {
    color: #5e5c5b;
    text-align: center;
}
img {
    margin: 0 auto;
}
footer {
    background-color: #201e1d;
    opacity: 0.9;
    text-align: right;
    color: white;
    height: 50px;
    margin-top: -50px;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*content text colour*/
    color: #5e5c5b;
    background-color: white;
}
.redbox {
    /*background-color: #ff4f4f;*/
    color: #3f3f3f;
    border-radius: 25px;
    border: 8px solid #f72f2f;
    padding: 50px;
    margin: 20px 20px;
}
.greenbox {
    /*background-color: #91ff4f;*/
    color: #3f3f3f;
    border-radius: 25px;
    border: 8px solid #91ff4f;
    padding: 50px;
    margin: 20px 20px;
}
.graybox {
    /*background-color: #3f3f3f;*/
    color: #3f3f3f;
    border-radius: 25px;
    border: 8px solid #3f3f3f;
    padding: 50px;
    margin: 20px 20px;
}
.bluebox {
    /*background-color: #4f9aff;*/
    color: #3f3f3f;
    border-radius: 25px;
    border: 8px solid #2f92f7;
    padding: 50px;
    margin: 20px 20px;
}
.assembly-header {
    text-align: center;
    width: 100%;
}
.assembly-td {
    text-align: center;
    width: 50%;
}
.partdetail {
    padding-top: 50px;
}
.partimg {
    border-radius: 25px;
    border: 5px solid #91ff4f;
    padding: 20px;
}
.titlediv {
    padding-top: 7%;
    padding-left: 40%;
    background-color: #201e1d;
    color: white;
}
.sectitle {
    border-radius: 25px;
    color: #3f3f3f;
    text-align: center;
    border: 5px solid #3f3f3f;
}
.toptitle {
    border-radius: 25px;
    padding: 0;
    padding-top: 0;
}
.homedashvalue {
    text-align: center;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #201e1d;
}
.navbar-nav > li > .dropdown-menu a:hover {
    background-color: black;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
    background: #FFF !important;
    color: #000 !important;
}
